@import url("./themes/dark.css");
@import url("./themes/light.css");
/* Themes must be imported first */
@import url("./faction.css");
@import url("./font-size.css");
@import url("./bootstrap-ext.css");

/* BASE */

body {
  color: var(--color--default);
  background-color: var(--color--default-bg);
  border-color: var(--color--default-border);
}

nav {
  background-color: var(--color--header-bg);
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.button {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

a.button {
  color: var(--color--button);
  background-color: var(--color--button-bg);
  border: 1px solid var(--color--button-border);
  border-radius: 3px;

  text-decoration: none;
  text-align: center;

  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  padding: 3px 12px 6px 12px;
}
a.button.d-block {
  padding-left: 0;
  padding-right: 0;
}
a.button:hover {
  text-decoration: none;
  color: var(--color--button-hover);
  background-color: var(--color--button-hover-bg);
  border: 1px solid var(--color--button-hover-border);
}
a.button:active {
  color: var(--color--button-active);
  background-color: var(--color--button-active-bg);
  border: 1px solid var(--color--button-active-border);
}

a.button.round {
  border-radius: 90px;
}
a.button.cyber {
  border-radius: 1px;
  -webkit-clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 5px),
    calc(100% - 5px) 100%,
    0 100%
  );
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 5px),
    calc(100% - 5px) 100%,
    0 100%
  );
}

input {
  color: var(--color--button);
  background-color: var(--color--button-bg);
  border: 1px solid var(--color--button-border);
  border-radius: 3px;
}
input[type="text"] {
  padding-left: 10px;
  transform: translateY(-2px);
}

.button.blue {
  color: var(--color--blue-text) !important;
  background-color: var(--color--blue) !important;
  border-color: var(--color--blue) !important;
}
.button.blue:hover {
  color: var(--color--blue-hover-text) !important;
  background-color: var(--color--blue-hover) !important;
  border-color: var(--color--blue-hover) !important;
}
.button.blue:active {
  color: var(--color--blue-active-text) !important;
  background-color: var(--color--blue-active) !important;
  border-color: var(--color--blue-active) !important;
}

.button.grey {
  color: var(--color--grey-text) !important;
  background-color: var(--color--grey) !important;
  border-color: var(--color--grey) !important;
}
.button.grey:hover {
  color: var(--color--grey-hover-text) !important;
  background-color: var(--color--grey-hover) !important;
  border-color: var(--color--grey-hover) !important;
}
.button.grey:active {
  color: var(--color--grey-active-text) !important;
  background-color: var(--color--grey-active) !important;
  border-color: var(--color--grey-active) !important;
}

.nav-item:not(:first-of-type) {
  border-top: solid 1px var(--color--button-border);
}
.nav-item:hover,
.nav-item:active {
  text-decoration: none;
  color: var(--color--button-hover);
  background-color: var(--color--button-hover-bg);
}

/* BOXES */

.box,
.box-link,
.decklist-box-link,
.decklist-box {
  display: block;
  position: relative;
}

.box-link,
.decklist-box-link {
  color: var(--color--default);
}

.box,
.box-link {
  padding: 10px 20px;

  background-color: var(--color--box-bg);
  border: solid 1px var(--color--box-border);
  border-radius: 3px;
}

.box-link:hover {
  background-color: var(--color--default-bg);
  border: solid 1px var(--color--default-border);
}

.decklist-box {
  margin-top: 30px;

  background-color: var(--color--secondary-bg);
  border-radius: 3px;
}
.decklist-box .decklist-identity {
  transform: translateY(-20px);
  max-width: 100%;
  border-radius: 10px; /* TODO: Move to .card */
}
.decklist-box .decklist-stats {
  margin-bottom: 70px;
}
.decklist-box p:first-of-type {
  margin-top: 20px;
}
.decklist-box .decklist-identity-name {
}
.decklist-box .decklist-identity-title {
}
.decklist-box .decklist-identity-subtitle {
  color: var(--color--secondary);
}
.decklist-box .decklist-influence {
}
.decklist-box .decklist-cards {
}
.decklist-box .decklist-author {
  color: var(--color--secondary);
}
.decklist-box .decklist-set {
}
.decklist-box .button {
  position: absolute;
  bottom: 20px;
}

.decklist-box-link {
  background-color: var(--color--box-secondary-bg);
  border: solid 1px var(--color--box-secondary-border);
  border-radius: 3px;
}
.decklist-box-link:hover {
  background-color: var(--color--box-bg);
  border: solid 1px var(--color--box-border);
}

/* NAVBAR */

nav {
  z-index: 100;
}

#top-nav {
  border-bottom: solid 1px var(--color--default-border);
  background-color: var(--color--header-bg);
}

#bottom-nav {
  top: 0;
  position: sticky;
  border-bottom: solid 1px var(--color--default-border);
  background-color: var(--color--header-bg);
  text-align: center;
}
#bottom-nav a {
  display: inline-block;
  vertical-align: middle;
  line-height: 100%;
  transform: translateY(-2px);
  color: var(--color--offwhite);
}
#bottom-nav a:hover {
  text-decoration: underline !important;
}

@media (min-device-width: 1200px) {
  #bottom-nav .row {
    padding-left: 100px;
    padding-right: 100px;
  }
}

/* NAVBAR BRAND */

.navbar-brand {
  position: relative;
  font-size: 20px;
  font-family: "Merriweather Sans", sans-serif;
}

.navbar-brand img {
  width: 1.5em;
  transform: translateY(-3px);
}

.navbar-brand:hover {
  filter: opacity(0.5);
  text-decoration: none;
}
