@import url("./themes/dark.css");
@import url("./themes/light.css");

/* Themes must be imported first */
@import url("./faction.css");
@import url("./font-size.css");
@import url("./bootstrap-ext.css");

/* BASE */

* {
  box-sizing: border-box;
}

body {
  color: var(--color--default);
  background-color: var(--color--default-bg);
  border-color: var(--color--default-border);
}

nav {
  background-color: var(--color--header-bg);
}

p {
  margin: 0;
}

ul,
ol {
  margin: 0;
}

/* BASICS */

.primary {
  color: var(--color--default);
}
.primary-bg {
  background-color: var(--color--default-bg);
}

.secondary {
  color: var(--color--secondary);
}
.secondary-bg {
  background-color: var(--color--secondary-bg);
}

a {
  color: var(--color--link);
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: var(--color--link-hover);
  text-decoration: underline;
  text-decoration-thickness: 1px;
}
a:active {
  color: var(--color--link-active);
}

button,
.button {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

button,
a.button {
  color: var(--color--button);
  background-color: var(--color--button-bg);
  border: 1px solid var(--color--button-border);
  border-radius: 3px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding: 3px 12px 6px;
}

button,
a.button.d-block {
  padding-left: 0;
  padding-right: 0;
}

button:hover,
a.button:hover {
  text-decoration: none;
  color: var(--color--button-hover);
  background-color: var(--color--button-hover-bg);
  border: 1px solid var(--color--button-hover-border);
}

button:active,
a.button:active {
  color: var(--color--button-active);
  background-color: var(--color--button-active-bg);
  border: 1px solid var(--color--button-active-border);
}

button.round,
a.button.round {
  border-radius: 90px;
}

button.cyber,
a.button.cyber {
  border-radius: 1px;
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 5px),
    calc(100% - 5px) 100%,
    0 100%
  );
}

/* Overwriting unwanted Bootstrap */
.btn-group {
  vertical-align: top;
}
.btn-group button {
  color: var(--color--button);
  background-color: var(--color--button-bg);
  border: 1px solid var(--color--button-border);
  border-radius: 3px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding: 3px 12px 6px;
}
.btn-group button:hover {
  text-decoration: none;
  color: var(--color--button-hover);
  background-color: var(--color--button-hover-bg);
  border: 1px solid var(--color--button-hover-border);
}
.btn-group button:active {
  color: var(--color--button-active);
  background-color: var(--color--button-active-bg);
  border: 1px solid var(--color--button-active-border);
}

input,
select,
.form-control {
  color: var(--color--button);
  background-color: var(--color--button-bg);
  border: 1px solid var(--color--button-border);
  border-radius: 3px;
  padding: 0.375rem 0.75rem;
}
input[type="text"] {
  padding-left: 10px;
  transform: translateY(-2px);
}

.form-label {
  margin-bottom: 2px;
}

.button.blue {
  color: var(--color--blue-text) !important;
  background-color: var(--color--blue) !important;
  border-color: var(--color--blue) !important;
}
.button.blue:hover {
  color: var(--color--blue-hover-text) !important;
  background-color: var(--color--blue-hover) !important;
  border-color: var(--color--blue-hover) !important;
}
.button.blue:active {
  color: var(--color--blue-active-text) !important;
  background-color: var(--color--blue-active) !important;
  border-color: var(--color--blue-active) !important;
}

.button.grey {
  color: var(--color--grey-text) !important;
  background-color: var(--color--grey) !important;
  border-color: var(--color--grey) !important;
}
.button.grey:hover {
  color: var(--color--grey-hover-text) !important;
  background-color: var(--color--grey-hover) !important;
  border-color: var(--color--grey-hover) !important;
}
.button.grey:active {
  color: var(--color--grey-active-text) !important;
  background-color: var(--color--grey-active) !important;
  border-color: var(--color--grey-active) !important;
}

.nav-item:not(:first-of-type) {
  border-top: solid 1px var(--color--button-border);
}

.nav-item:hover,
.nav-item:active {
  text-decoration: none;
  color: var(--color--button-hover);
  background-color: var(--color--button-hover-bg);
}

.nav-pills .nav-item {
  border: none;
}
.nav-pills .nav-item:not(:first-of-type) {
  margin-left: 1em;
}
.nav-pills .nav-link.active {
  color: var(--color--blue-text);
  background-color: var(--color--blue);
  border: solid 2px var(--color--blue); /* box-sizing isn't working so we fake the extra space here */
}
.nav-pills .nav-link:not(.active) {
  color: var(--color--box);
  background-color: var(--color--box-bg);
  border: solid 2px var(--color--box-border);
}

/* HEX THUMBNAILS */

.hex {
  --path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
  --width: 80px;
  --thickness: 2px;
  display: block;
  margin: 0 auto;
  padding-left: 20px;
  float: right;
  box-sizing: border-box;
}
.hex-border {
  position: relative;
  width: calc(var(--width));
  height: var(--width);
  -webkit-clip-path: var(--path);
  -moz-clip-path: var(--path);
  box-sizing: border-box;
  background: var(--color--default);
}
.hex-background {
  position: absolute;
  top: var(--thickness);
  left: var(--thickness);
  width: calc(100% - var(--thickness) * 2);
  height: calc(100% - var(--thickness) * 2);
  -webkit-clip-path: var(--path);
  -moz-clip-path: var(--path);
}

.hex-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hex-image {
  background-position: center top;
}
.hex-image.thumbnail-corp-identity {
  background-position: center -25px;
}
.hex-image.thumbnail-corp-identity-ffg {
  background-position: center -30px;
}
.hex-image.thumbnail-runner-identity {
  background-position: center -20px;
}
.hex-image.thumbnail-runner-identity-ffg {
  background-position: center -20px;
}
.hex-image.thumbnail-agenda {
  background-position: center -11px;
}
.hex-image.thumbnail-agenda-ffg {
  background-position: center -14px;
}
.hex-image.thumbnail-asset {
  background-position: center -11px;
}
.hex-image.thumbnail-asset-ffg {
  /* background-position: center top; */
}
.hex-image.thumbnail-ice {
  transform: rotate(90deg);
  background-position: center bottom;
}
.hex-image.thumbnail-ice-ffg {
  transform: rotate(90deg);
  background-position: center bottom;
}
.hex-image.thumbnail-operation {
  transform: scale(1.05, 1.05);
  background-position: center -11px;
}
.hex-image.thumbnail-operation-ffg {
  transform: scale(1.1, 1.1);
  background-position: center -14px;
}
.hex-image.thumbnail-upgrade {
  background-position: center -13px;
}
.hex-image.thumbnail-upgrade-ffg {
  /* background-position: center top; */
}
.hex-image.thumbnail-event {
  background-position: center -15px;
}
.hex-image.thumbnail-event-ffg {
  background-position: center -12px;
}
.hex-image.thumbnail-hardware {
  background-position: center -12px;
}
.hex-image.thumbnail-hardware-ffg {
  background-position: center -5px;
}
.hex-image.thumbnail-program {
  transform: scale(1.05);
  background-position: center -15px;
}
.hex-image.thumbnail-program-ffg {
  transform: scale(1.2);
  background-position: calc(50% - 20px) top;
}
.hex-image.thumbnail-resource {
  transform: scale(1.05);
  background-position: center -11px;
}
.hex-image.thumbnail-resource-ffg {
  transform: scale(1.3);
  background-position: calc(50% - 1px) -2px;
}

/* INFLUENCE */

.influence-pips {
  font-family: Arial, Helvetica, sans-serif;
}
.influence-pips .empty {
  color: var(--color--grey);
}

/* BOXES */

.box,
.box-link,
.decklist-box,
.decklist-box-link,
.decklist-box-compact {
  display: block;
  margin: 0 auto;
  padding-left: 20px;
  box-sizing: border-box;
}

.box-link,
.decklist-box-link {
  color: var(--color--default);
}

.box,
.box-link {
  padding: 10px 20px;
  background-color: var(--color--box-bg);
  border: solid 1px var(--color--box-border);
  border-radius: 3px;
}

.box-link:hover {
  background-color: var(--color--default-bg);
  border: solid 1px var(--color--default-border);
}

.decklist-description {
  margin-top: 30px;
}

.decklist-description.truncated {
  max-height: 280px;
}
.decklist-description.truncated {
  position: relative;
  overflow-y: hidden;
}
.decklist-description.truncated::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  background: linear-gradient(transparent 50%, var(--color--default-bg) 80%);
}

.decklist-box {
  margin-top: 30px;
  height: 280px;
  background-color: var(--color--secondary-bg);
  border-radius: 3px;
}

.decklist-box .decklist-identity {
  transform: translateY(-20px);
  max-width: 100%;
}

.decklist-box .decklist-stats {
  position: relative;
  padding-top: 20px;
}

.decklist-box .decklist-identity-name {
}

.decklist-box .decklist-identity-title {
  color: var(--color--default);
}

.decklist-box .decklist-identity-subtitle {
  color: var(--color--secondary);
}

.decklist-box .decklist-influence {
}

.decklist-box .decklist-cards {
}

.decklist-box .decklist-author {
  color: var(--color--secondary);
}

.decklist-box .decklist-set {
}

.decklist-box .decklist-box-button {
  position: absolute;
  bottom: 20px;
}

.decklist-box-link {
  background-color: var(--color--box-secondary-bg);
  border: solid 1px var(--color--box-secondary-border);
  border-radius: 3px;
}
.decklist-box-link:hover {
  background-color: var(--color--box-bg);
  border: solid 1px var(--color--box-border);
}

.decklist-box-compact {
  padding-top: 10px;
  padding-bottom: 15px;
  background-color: var(--color--box-bg);
  border: 1px solid var(--color--box-border);
  border-radius: 3px;
}
.decklist-box-compact .decklist-identity-title,
.decklist-box-compact .decklist-identity-subtitle {
  margin-bottom: -5px;
}
.decklist-box-compact .decklist-name {
  margin-bottom: -5px;
}
.decklist-box-compact .decklist-author {
  color: var(--color--secondary);
}
.decklist-box-compact .decklist-date {
  color: var(--color--secondary);
}
.decklist-box-compact .decklist-notes {
  color: var(--color--secondary);
}

.warning-box {
  padding-top: 10px;
  padding-bottom: 13px;
  text-align: center;
  font-weight: bold;
  color: var(--color--warning);
  background-color: var(--color--warning-bg);
  border: 2px solid var(--color--warning-border);
  border-radius: 4px;
}

/* GAME CARDS (Netrunner cards, not webdev ones) */
.game-card {
  border-radius: 10px;
}

.game-card-text {
  border-left: solid 2px;
  padding-left: 0.5em;
}
.game-card-details {
  border-top: solid 1px var(--color--default-border);
  border-bottom: solid 1px var(--color--default-border);
  padding-bottom: 2px;
  margin-bottom: 5px;
}
.game-card-footer {
  margin-top: 10px;
  padding-top: 2px;
  border-top: solid 1px var(--color--default-border);
}

table.game-card-stats {
  width: 100%;
}
table.game-card-stats th {
  font-family: "Outfit", sans-serif;
  padding: 7px 16px 9px 16px;
}
table.game-card-stats td {
  padding: 7px 16px 9px 16px;
}
table.game-card-stats td:nth-child(2) {
  text-align: right;
}
table.game-card-stats tr:nth-child(odd) {
  background: var(--color--table-row-alt-a);
}
table.game-card-stats tr:nth-child(even) {
  background: var(--color--table-row-alt-b);
}

/* CARDS (webdev cards, not Netrunner ones) */

.card {
  color: var(--color--box);
  background-color: var(--color--box-bg);
  border-color: var(--color--box-border);
}

.force-one-line {
  height: 1.5em;
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* BOTH! */

.game-card-card {
  border-color: var(--color--box-secondary-border);
  background-color: var(--color--box-secondary-bg);
}
.game-card-card .list-group-item {
  color: var(--color--default);
  border-color: var(--color--box-secondary-border);
  background-color: var(--color--box-bg);
}

/* RULINGS */

.ruling-header {
}
.ruling-question {
}
.ruling-answer {
  border-left: solid 3px var(--color--default-border);
  padding-left: 0.75em;
}
.ruling-text {
}
/* Nothing special about h4, but it's currently what all the ruling headers are formatted as in the json and is unaccessible via Bootstrap classes */
.ruling h4 {
  margin-top: 6px;
  font-size: 24px;
}

/* REVIEWS */

.review {
}
.review-buttons {
  width: 50px;
  float: left;
}
.review-main {
  margin-left: 50px;
}
.review-header {
  padding-bottom: 3px;
  border-bottom: solid 1px var(--color--default-border);
  margin-bottom: 3px;
}
.review-content {
  padding-bottom: 6px;
  border-bottom: solid 1px var(--color--default-border);
  margin-bottom: 3px;
}

.review .comment {
  padding-bottom: 4px;
  border-bottom: solid 1px var(--color--default-border);
  margin-bottom: 3px;
}

/* NAVBAR */

nav {
  z-index: 100;
}

#top-nav {
  border-bottom: solid 1px var(--color--default-border);
  background-color: var(--color--header-bg);
}

#bottom-nav {
  top: 0;
  position: sticky;
  border-bottom: solid 1px var(--color--default-border);
  background-color: var(--color--header-bg);
  text-align: center;
  z-index: 200;
}

#bottom-nav a {
  display: inline-block;
  vertical-align: middle;
  line-height: 100%;
  transform: translateY(-2px);
  color: var(--color--offwhite);
}

#bottom-nav a:hover {
  text-decoration: underline !important;
}

@media (device-width >= 1200px) {
  #bottom-nav .row {
    padding-left: 100px;
    padding-right: 100px;
  }
}

/* NAVBAR BRAND */

.navbar-brand {
  position: relative;
  font-size: 20px;
  font-family: "Merriweather Sans", sans-serif;
}

.navbar-brand img {
  width: 1.5em;
  transform: translateY(-3px);
}

.navbar-brand:hover {
  filter: opacity(0.5);
  text-decoration: none;
}

.ember-tooltip {
  max-width: 400px;
}
.tippy-box {
  color: var(--color--default);
  background-color: var(--color--default-bg);
  border: 2px solid var(--color--default-border);
  border-radius: 10px;
  min-width: 350px;
  padding: 0.8em 0.8em calc(0.8em + 4px) 1em;
  text-shadow: none;
  z-index: 9999;
}
.tooltip-inner {
  text-align: left;
}
.ember-tooltip .ember-tooltip-arrow {
  --scale: 1.5;
}
.ember-tooltip[x-placement^="top"] .ember-tooltip-arrow {
  border-top: 7px solid var(--color--default-border);
  transform: scale(var(--scale)) translateY(3px);
}
.ember-tooltip[x-placement^="bottom"] .ember-tooltip-arrow {
  border-bottom: 7px solid var(--color--default-border);
  transform: scale(var(--scale)) translateY(-3px);
}

/* TITLEBAR */

.titlebar {
  padding: 40px 0 36px 0;
  border-bottom: 1px solid var(--color--default-border);
}
.titlebar .title {
  color: var(--color--secondary);
  margin-bottom: -5px;
}

/* DECKLIST BANNER */

/* Decklist banner rotated ID - DEPRECATED - Delete when confirmed */
/*
.decklist-banner {
  height: 220px;
  position: relative;
  overflow-y: hidden;
}

.decklist-banner-identity {
  position: absolute;
  width: 180px;
  border-radius: 8px;
  overflow: hidden;
  transform: translate(10px, 5px) rotateZ(-3deg);
}
.decklist-banner-identity::after {
  box-shadow: inset 0 -50px 20px 0 var(--color--default-bg);
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -10px;
  height: 100%;
  width: calc(100% + 20px);
}

.decklist-banner-data {
  margin-left: 240px;
}*/

.decklist-banner {
  padding: 40px 0 36px 0;
  border-bottom: 1px solid var(--color--default-border);
}

.decklist-banner-data .decklist-banner-stat:not(:first-of-type) {
  color: var(--color--secondary);
}
.decklist-banner-data a {
  color: var(--color--default);
  text-decoration: underline;
}
.decklist-banner-data a:hover {
  color: var(--color--secondary);
}

.decklist-card {
  position: relative;
  padding: 0;
}
.decklist-card img {
  width: 100%;
  border-radius: 10px;
  border: solid 1px var(--color--default-border);
}
.decklist-card img:not(:first-of-type) {
  position: absolute;
  top: 0;
  right: 0;
}
.decklist-card img:nth-of-type(2) {
  /* transform: scale(95%) rotateZ(0.5deg) translateX(6%); */
  transform: translate(3%, 3%);
  filter: grayscale(50%);
  opacity: 90%;
  z-index: -1;
}
.decklist-card img:nth-of-type(3) {
  /* transform: scale(85%) rotateZ(1deg) translateX(16%); */
  transform: scale(98%) translate(6%, 6%);
  filter: grayscale(75%);
  z-index: -2;
  opacity: 50%;
}

/* RESULTS TABLE */

table.results {
  width: 100%;
}

table.results th {
  font-family: "Outfit", sans-serif;
  padding: 7px 16px 9px 16px;
}

table.results td {
  padding: 7px 16px 9px 16px;
  border-top: solid 1px var(--color--box-border);
}
table.results tr:last-child td {
  border-bottom: solid 1px var(--color--box-border);
}
table.results tr:nth-child(even) {
  background: var(--color--secondary-bg);
}

/* BADGE */

.badge {
  font-family: "Inter", sans-serif;
  border-radius: 3px;
  background-color: var(--color--box-secondary-bg);
}

/* LEGALITY */

.legality-verified:before,
.legality-unverified:before,
.legality-available:before,
.legality-unavailable:before,
.legality-legal:before,
.legality-banned:before,
.legality-rotated:before,
.legality-added:before,
.legality-restricted:before,
.legality-inf-1:before,
.legality-inf-3:before,
.legality-points-1:before,
.legality-points-2:before,
.legality-points-3:before {
  display: inline-block;
  min-width: 7.5em;
  border-radius: 100px;
  border: solid 1px;
  padding: 2px 8px;
  color: var(--color--legality-text);
  font-family: "LatoWeb", sans-serif;
  font-size: 0.75em;
  font-weight: bold;
  text-align: center;
}

.legality-verified:before {
  content: "VERIFIED";
  border-color: var(--color--legality-legal);
}

.legality-unverified:before {
  content: "UNVERIFIED";
  border-color: var(--color--legality-unverified);
}

.legality-available:before {
  content: "LEGAL";
  border-color: var(--color--legality-legal);
}

.legality-unavailable:before {
  content: "NOT LEGAL";
  border-color: var(--color--legality-unverified);
}

.legality-legal:before {
  content: "LEGAL";
  border-color: var(--color--legality-legal);
}

.legality-banned:before {
  content: "BANNED";
  border-color: var(--color--legality-banned);
}

.legality-rotated:before {
  content: "ROTATED";
  border-color: var(--color--legality-rotated);
}

.legality-added:before {
  content: "ADDED";
  border-color: var(--color--legality-legal);
}

.legality-restricted:before {
  content: "RESTRICTED";
  border-color: var(--color--legality-restricted);
}

.legality-inf-1:before {
  content: "1 INF.";
  border-color: var(--color--legality-points);
}
.legality-inf-3:before {
  content: "3 INF.";
  border-color: var(--color--legality-points);
}

.legality-points-1:before {
  content: "1 POINT";
  border-color: var(--color--legality-points);
}
.legality-points-2:before {
  content: "2 POINTS";
  border-color: var(--color--legality-points);
}
.legality-points-3:before {
  content: "3 POINTS";
  border-color: var(--color--legality-points);
}

.legality-interactive {
  white-space: nowrap;
}

.legality-interactive:before {
  min-width: 1em;
}

.legality-interactive:not(:hover):not(:active):before {
  content: "!";
  min-width: 1em;
}

.legality-legal.legality-interactive:not(:hover):not(:active):before {
  content: "/";
}

.legality-restricted.legality-interactive:not(:hover):not(:active):before {
  content: "?";
}

.legality-1-inf.legality-interactive:not(:hover):not(:active):before {
  content: "1";
}

.legality-3-inf.legality-interactive:not(:hover):not(:active):before {
  content: "3";
}

/* FANCY HEADERS */

.fancy-header {
  padding-bottom: 5px;
}
.fancy-title {
  margin: 0 0.5em;
}
.fancy-header span {
  border-bottom: 1px solid var(--color--default-border);
  transform: translateY(calc(-50% + 3px));
}

/* USER CONTENT */

.user-content h1 {
  font-size: 24px;
}
.user-content h2 {
  margin-top: 1em;
  font-size: 22px;
}
.user-content h3 {
  margin-top: 1em;
  font-size: 20px;
}
.user-content h4 {
  margin-top: 1em;
  font-size: 19px;
}
.user-content h5 {
  margin-top: 1em;
  font-size: 18px;
}
.user-content h6 {
  margin-top: 1em;
  font-size: 17px;
}

.user-content p:not(:first-of-type) {
  margin-top: 1em;
}
