@font-face {
  font-family: netrunner;
  src: url("../assets/fonts/netrunner.eot");
  src:
    url("../assets/fonts/netrunner.eot") format("embedded-opentype"),
    url("../assets/fonts/netrunner.ttf") format("truetype"),
    url("../assets/fonts/netrunner.woff") format("woff"),
    url("../assets/fonts/netrunner.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon"] {
  font-family: netrunner, sans-serif !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
  position: relative;
  top: 0.05em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Factions - Keep Sorted */
.icon-adam::before {
  content: "\e91d";
}

.icon-anarch::before {
  content: "\e91a";
}

.icon-apex::before {
  content: "\e91e";
}

.icon-criminal::before {
  content: "\e919";
}

.icon-haas-bioroid::before {
  content: "\e918";
}

.icon-jinteki::before {
  content: "\e916";
}

.icon-nbn::before {
  content: "\e915";
}

/* Neutral icon is the NSG Netrunner icon for both corp and runner */
.icon-neutral-corp::before,
.icon-neutral-runner::before {
  content: "\e92f";
}

.icon-shaper::before {
  content: "\e91b";
}

.icon-sunny-lebeau::before {
  content: "\e91c";
}

.icon-weyland-consortium::before {
  content: "\e917";
}

/* Game symbols - Keep Sorted */
.icon-agenda-points::before {
  content: "\e930";
}

.icon-click::before {
  content: "\e909";
}

.icon-credit::before {
  content: "\e90b";
  margin-left: -0.1em;
  margin-right: -0.1em;
  font-size: 1.1em;
}

.icon-interrupt::before {
  content: "\e92b";
}

.icon-link::before {
  content: "\e908";
}

.icon-mu::before {
  content: "\e904";
}

.icon-mu1::before {
  content: "\e903";
}

.icon-mu2::before {
  content: "\e902";
}

.icon-mu3::before {
  content: "\e901";
}

.icon-recurring-credit::before {
  content: "\e90a";
}

.icon-rez-cost::before {
  content: "\e913";
}

.icon-subroutine::before {
  content: "\e900";
  margin-right: 0.2em;
}

.icon-trash-ability::before,
.icon-trash-cost::before {
  content: "\e905";
}

/* Server Icons - Keep sorted */
.icon-archives::before {
  content: "\e918";
}

.icon-hq::before {
  content: "\e916";
}

.icon-rd::before {
  content: "\e917";
}

/* Set Icons - Keep sorted by code */
.icon-ashes::before {
  content: "\e929";
}

.icon-borealis::before {
  content: "\e931";
}

.icon-core-set::before {
  content: "\e914";
}

.icon-creation-and-control::before {
  content: "\e913";
}

.icon-data-and-destiny::before {
  content: "\e912";
}

.icon-flashpoint::before {
  content: "\e921";
}

.icon-genesis::before {
  content: "\e911";
}

.icon-honor-and-profit::before {
  content: "\e910";
}

.icon-kitara::before {
  content: "\e925";
}

.icon-liberation::before {
  content: "\e933";
}

.icon-lunar::before {
  content: "\e90f";
}

.icon-magnum-opus::before {
  content: "\e927";
}

.icon-magnum-opus-reprint::before {
  content: "\e92a";
}

.icon-mumbad::before {
  content: "\e91f";
}

.icon-order-and-chaos::before {
  content: "\e90e";
}

.icon-red-sand::before {
  content: "\e922";
}

.icon-reign-and-reverie::before {
  content: "\e926";
}

.icon-revised-core-set::before {
  content: "\e924";
}

.icon-salvaged-memories::before {
  content: "\e92c";
}

.icon-sansan::before {
  content: "\e90d";
}

.icon-spin::before {
  content: "\e90c";
}

.icon-system-core-2019::before {
  content: "\e928";
}

.icon-system-gateway::before {
  content: "\e92d";
}

.icon-system-update-2021::before {
  content: "\e92e";
}

.icon-terminal-directive::before {
  content: "\e923";
}
