/* Panels */
.panel {
  margin-top: var(--bs-gutter-y);
  margin-bottom: 20px;
  padding: 0;
  background-color: #fff;
  border: 1px solid transparent;
  border-color: transparent;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
}

.panel-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-bottom-color: transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.panel-heading button {
  margin: auto 0;
}

.panel-heading-text {
  display: flex;
  flex-direction: column;
}

.panel-heading-text-title {
  margin: 0;
}

.panel-heading-text-subtitle {
  margin: 0;
  opacity: 0.7;
}

.panel-body {
  padding: 15px;
}

.panel-default {
  border-color: #ddd;
}

.panel-default .panel-heading {
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
}

/* Panel list control panel */
.panel-list .row {
  margin: 0 0 16px;
  display: flex;
  flex-wrap: wrap;
}

.panel-list .panel-search {
  flex-grow: 0;
  order: 1;
  width: 100%;
  padding-top: 12px;
}

.panel-list .show-all,
.panel-list .hide-all {
  flex: auto;
  flex-grow: 2;
}

.panel-list .hide-all {
  margin-left: 12px;
}

.panel-dropdown {
  padding-right: 0;
}

.panel-dropdown,
.panel-dropdown button,
.panel-dropdown .dropdown-menu {
  width: 100%;
}

.panel-dropdown.open > .dropdown-menu {
  display: block;
  padding: 10px;
}

@media (width >= 768px) {
  .panel-list .row > * {
    margin: 0;
  }

  .panel-list .hide-all,
  .panel-list .show-all {
    flex: none;
  }

  .panel-list .panel-search {
    flex-grow: 1;
    order: 0;
    width: unset;
    padding: 0;
  }

  .panel-list .panel-search:not(:first-child) {
    /* when surrounded by buttons */
    padding: 0 12px;
  }

  .panel-dropdown {
    padding-left: 12px;
  }

  .panel-dropdown,
  .panel-dropdown button,
  .panel-dropdown .dropdown-menu {
    width: unset;
  }
}
