<div id="content-decklists">
  <h2 class="nr-primary mb-4">Public Decklists</h2>
  <div class="tab-body">
    <ul class="list-unstyled">
      <li>
        <div class="row">
          <div class="col-md-2">
            <img src="https://static.nrdbassets.com/v1/tiny/01001.jpg" />
          </div>
          <div class="col-md-10">
            <div><a class="text-decoration-none" href="">Can o' Whupass</a></div>
            <div><em>3 Feb 2015</em></div>
            <div><a
                class="text-decoration-none text-danger"
                href=""
              >tyrellian</a></div>
          </div>
        </div>
      </li>
      <hr />
      <li>
        <div class="row">
          <div class="col-md-2">
            <img src="https://static.nrdbassets.com/v1/tiny/02046.jpg" />
          </div>
          <div class="col-md-10">
            <div><a class="text-decoration-none" href="">Big Girls Play With
                Monoliths</a></div>
            <div><em>6 Dec 2013</em></div>
            <div><a
                class="text-decoration-none text-danger"
                href=""
              >PeekaySK</a></div>
          </div>
        </div>
      </li>
      <hr />
      <li>
        <div class="row">
          <div class="col-md-2">
            <img src="https://static.nrdbassets.com/v1/tiny/05001.jpg" />
          </div>
          <div class="col-md-10">
            <div><a class="text-decoration-none" href="">The Thing That Should
                Not Be</a></div>
            <div><em>6 May 2014</em></div>
            <div><a
                class="text-decoration-none text-danger"
                href=""
              >omegalife2002</a></div>
          </div>
        </div>
      </li>
      <hr />
      <li>
        <div class="row">
          <div class="col-md-2">
            <img src="https://static.nrdbassets.com/v1/tiny/01033.jpg" />
          </div>
          <div class="col-md-10">
            <div><a class="text-decoration-none" href="">Starter Deck - Runner
                Beginner</a></div>
            <div><em>15 Feb 2015</em></div>
            <div><a
                class="text-decoration-none text-success"
                href=""
              >CBTech</a></div>
          </div>
        </div>
      </li>
      <hr />
      <li>
        <div class="row">
          <div class="col-md-2">
            <img src="https://static.nrdbassets.com/v1/tiny/06068.jpg" />
          </div>
          <div class="col-md-10">
            <div><a class="text-decoration-none" href="">The Government
                Takeover...</a></div>
            <div><em>20 May 2014</em></div>
            <div><a
                class="text-decoration-none text-danger"
                href=""
              >frost-duty</a></div>
          </div>
        </div>
      </li>
      <hr />
      <li>
        <div class="row">
          <div class="col-md-2">
            <img src="https://static.nrdbassets.com/v1/tiny/04041.jpg" />
          </div>
          <div class="col-md-10">
            <div><a class="text-decoration-none" href="">Anatomy of Anarchy</a></div>
            <div><em>1 Mar 2015</em></div>
            <div><a
                class="text-decoration-none text-success"
                href=""
              >ColoradoNetrunner</a></div>
          </div>
        </div>
      </li>
      <hr />
      <li>
        <div class="row">
          <div class="col-md-2">
            <img src="https://static.nrdbassets.com/v1/tiny/04041.jpg" />
          </div>
          <div class="col-md-10">
            <div><a class="text-decoration-none" href="">Anatomy of Anarchy</a></div>
            <div><em>1 Mar 2015</em></div>
            <div><a
                class="text-decoration-none text-success"
                href=""
              >ColoradoNetrunner</a></div>
          </div>
        </div>
      </li>
      <hr />
      <li>
        <div class="row">
          <div class="col-md-2">
            <img src="https://static.nrdbassets.com/v1/tiny/04041.jpg" />
          </div>
          <div class="col-md-10">
            <div><a class="text-decoration-none" href="">Anatomy of Anarchy</a></div>
            <div><em>1 Mar 2015</em></div>
            <div><a
                class="text-decoration-none text-success"
                href=""
              >ColoradoNetrunner</a></div>
          </div>
        </div>
      </li>
      <hr />
      <li>
        <div class="row">
          <div class="col-md-2">
            <img src="https://static.nrdbassets.com/v1/tiny/04041.jpg" />
          </div>
          <div class="col-md-10">
            <div><a class="text-decoration-none" href="">Anatomy of Anarchy</a></div>
            <div><em>1 Mar 2015</em></div>
            <div><a
                class="text-decoration-none text-success"
                href=""
              >ColoradoNetrunner</a></div>
          </div>
        </div>
      </li>
      <hr />
      <li>
        <div class="row">
          <div class="col-md-2">
            <img src="https://static.nrdbassets.com/v1/tiny/04041.jpg" />
          </div>
          <div class="col-md-10">
            <div><a class="text-decoration-none" href="">Anatomy of Anarchy</a></div>
            <div><em>1 Mar 2015</em></div>
            <div><a
                class="text-decoration-none text-success"
                href=""
              >ColoradoNetrunner</a></div>
          </div>
        </div>
      </li>
      <hr />
      <li>
        <div class="row">
          <div class="col-md-2">
            <img src="https://static.nrdbassets.com/v1/tiny/04041.jpg" />
          </div>
          <div class="col-md-10">
            <div><a class="text-decoration-none" href="">Anatomy of Anarchy</a></div>
            <div><em>1 Mar 2015</em></div>
            <div><a
                class="text-decoration-none text-success"
                href=""
              >ColoradoNetrunner</a></div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>