<div id="content-dotw">
  <h2 class="nr-primary">Decklist of the Week</h2>
  <h3 class="nr-secondary">World Tree Wu</h3>
  <div class="row">
    <div class="col-md-3">
      <img
        src="https://static.nrdbassets.com/v1/large/21025.jpg"
        class="d-block w-100 mb-2"
      />
    </div>
    <div class="col-md-9">
      <h4><strong>Kabonesa Wu</strong> Netspace Thrillseeker</h4>
      <ul class="list-unstyled">
        <li>65 cards (min 45)</li>
        <li>15 influence (max 15)</li>
        <li>Cards up to <em>Parhelion</em></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <strong>Event (19)</strong>
      <ul class="list-unstyled">
        <li>3x Creative Commission</li>
        <li>3x Diesel</li>
        <li>3x Dirty Laundry</li>
        <li>3x Overclock</li>
        <li>3x Pinhole Threading</li>
        <li>3x Sure Gamble</li>
        <li>1x The Maker's Eye</li>
      </ul>
      <strong>Hardware (13)</strong>
      <ul class="list-unstyled">
        <li>3x Cyberdelia</li>
        <li>2x Endurance</li>
        <li>3x Flame-out</li>
        <li>3x Simulchip</li>
        <li>2x T400 Memory Diamonds</li>
      </ul>
      <strong>Resource (14)</strong>
      <ul class="list-unstyled">
        <li>3x Aesop's Pawnshop</li>
        <li>1x Beth Kilrain-Chang</li>
        <li>1x Citadel Sanctuary</li>
        <li>3x Daily Casts</li>
        <li>3x Dr. Nuka Vrolyck</li>
        <li>3x Telework Contract</li>
      </ul>
    </div>
    <div class="col-md-6">
      <strong>Icebreaker (6)</strong>
      <ul class="list-unstyled">
        <li>1x Buzzsaw</li>
        <li>1x Cleaver</li>
        <li>1x Echelon</li>
        <li>3x Mayfly</li>
      </ul>
      <strong>Program (13)</strong>
      <ul class="list-unstyled">
        <li>1x Clot</li>
        <li>1x Conduit</li>
        <li>3x Harbinger</li>
        <li>1x K2CP Turbine</li>
        <li>1x Misdirection</li>
        <li>1x Paricia</li>
        <li>1x Reaver</li>
        <li>3x Self-modifying Code</li>
        <li>1x World Tree</li>
      </ul>
    </div>
  </div>
  <hr />
  <div class="row">
    <h4>Description by the author</h4>
    <div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras placerat
        sapien et dolor semper, ut vehicula metus cursus. Etiam elementum eros
        molestie varius elementum. Vestibulum ac iaculis erat. Curabitur sit
        amet luctus dolor. Quisque vitae congue risus. Sed tincidunt nisi
        lectus, vel finibus ipsum ultricies vitae. Nullam libero dui, imperdiet
        ut nunc in, scelerisque commodo augue. Aliquam nunc mi, finibus eu justo
        tincidunt, bibendum ornare purus. Pellentesque finibus finibus augue
        eget facilisis. Class aptent taciti sociosqu ad litora torquent per
        conubia nostra, per inceptos himenaeos. Nulla ornare nec lorem finibus
        dictum. Nunc dolor felis, commodo vel varius sed, rutrum eget eros.
        Mauris eget ligula sed ex rhoncus auctor eu sit amet quam. Fusce ut
        mattis leo. Fusce in justo vitae ante accumsan blandit. Vestibulum vitae
        mauris quis nulla ultricies venenatis.</p>
      <p>Sed ultrices aliquet iaculis. Nullam ut pharetra erat. Donec molestie
        feugiat placerat. In tempor tempor dolor, ut lacinia odio auctor in.
        Maecenas egestas fermentum pretium. Phasellus bibendum, nisl quis
        condimentum sagittis, lorem erat tempor diam, sed efficitur odio purus
        ut lorem. Cras vel turpis bibendum, dapibus neque id, facilisis nunc.
        Integer vel sagittis leo. Donec ac sem dui. Nam interdum metus vehicula
        leo rhoncus, id euismod est dapibus. Mauris fringilla diam sed luctus
        efficitur. In sagittis ullamcorper sodales.</p>
      <p>Aenean venenatis tellus elit, nec rhoncus tortor feugiat eget. Praesent
        odio turpis, interdum in lacus vitae, pharetra commodo nulla. Integer
        suscipit lacus eu purus lobortis pretium. Vestibulum sollicitudin a nisi
        non malesuada. Aliquam non ipsum vel augue iaculis tincidunt. In
        dignissim malesuada eros, eu ullamcorper odio ultricies sit amet. Morbi
        non feugiat sapien. Integer purus diam, ultricies ut iaculis vitae,
        feugiat ac sapien. Quisque non tempor felis, eget vestibulum lacus.
        Nullam suscipit turpis tortor. Mauris commodo, risus id accumsan
        convallis, dui tortor rutrum felis, eget iaculis magna mauris vitae
        velit. Donec porta, mi at fringilla gravida, mauris arcu pretium dui, et
        finibus ipsum diam eu ipsum. Nullam et accumsan neque, ac aliquet odio.
        Suspendisse non efficitur tortor, nec pretium ex. Phasellus ut luctus
        justo, mollis dictum ante. Donec blandit velit vitae finibus
        ullamcorper.</p>
      <p>Sed convallis dictum neque. Pellentesque in magna sit amet felis
        pulvinar ultrices. Vivamus sollicitudin commodo velit eu bibendum.
        Mauris vel dolor in erat fermentum volutpat. Maecenas et luctus arcu.
        Etiam vel mattis turpis. Mauris convallis lorem vel arcu convallis, ut
        hendrerit turpis vestibulum. Aenean tempus pretium velit at molestie.</p>
      <p>Vestibulum et augue pulvinar, semper urna sed, semper neque. Vivamus
        volutpat tempus nisi, eleifend suscipit purus dapibus quis. Praesent
        vitae sapien non arcu sagittis rhoncus id eu mauris. Lorem ipsum dolor
        sit amet, consectetur adipiscing elit. Ut felis ligula, dapibus ac enim
        ut, vehicula convallis ligula. Cras quis nisi purus. Cras vehicula et
        ante vitae scelerisque.</p>
    </div>
  </div>
</div>