<header class="container">
  <div class="row sticky-top">
    <div class="col-md-12 d-flex flex-column px-0">
      <nav class="navbar navbar-expand-md bg-white shadow py-md-0">
        <div class="container-fluid px-0">
          <LinkTo @route="home" class="navbar-brand ms-3">
            <img src="/assets/images/logo.png">
            <span class="d-md-none d-lg-inline-block">NetrunnerDB</span>
          </LinkTo>
          <button class="navbar-toggler me-2" type="button" {{on 'click' this.toggleDropdown}}>
            <span class="navbar-toggler-icon"></span>
          </button>
          <BsCollapse @collapsed={{not this.showDropdown}} class="navbar-collapse d-md-flex">
            <div class="navbar-nav flex-grow-1 pe-md-4">
              <form id="card-search-bar" class="form-inline w-100 my-3 my-md-0">
                <div class="input-group">
                  <input type="text" class="form-control p-relative py-3" placeholder="Search for cards...">
                </div>
              </form>
            </div>
            <ul class="navbar-nav me-auto pb-2 pb-md-0" {{on 'click' this.closeDropdown}}>
              <li class="nav-item">
                <LinkTo @route="page.syntax" class="nav-link button-link px-2 p-md-3"><FaIcon @icon="key" /> Syntax</LinkTo>
              </li>
              <li class="nav-item">
                <LinkTo @route="page.advanced-search" class="nav-link button-link px-2 p-md-3"><FaIcon @icon="magnifying-glass" /> Advanced</LinkTo>
              </li>
              <li class="nav-item">
                <LinkTo @route="page.card" @model="lockpick" class="nav-link button-link px-2 p-md-3"><FaIcon @icon="dice" class="d-md-none" /> Random</LinkTo>
              </li>
              <li class="nav-item ms-md-4 me-md-0">
                <LinkTo @route="home" class="nav-link button-link px-2 p-md-3 text-center-sm"><FaIcon @icon="user" /> <span class="d-md-none"> Random</span></LinkTo>
              </li>
            </ul>
          </BsCollapse>
        </div>
      </nav>
    </div>
  </div>
</header>
