{{page-title "Formats"}}

<div class="container">
  <div class="row">
    <div
      class="col-12 col-xl-8 offset-xl-2 d-flex flex-row flex-sm-column my-2"
    >
      <div class="card border-0 flex-grow-1" id="nav-main-content">
        <div
          class="card-body d-flex flex-column flex-lg-row justify-content-between"
        >
          <div class="container">
            <div class="row">
              <h1>Official Play Formats</h1>
              <p>Card Pools and links to deck searches legal in those formats.</p>
              <p>See
                <a
                  href="https://nullsignal.games/players/supported-formats/"
                >Null Signal Games' Supported Formats page</a>
                for more information.</p>
            </div>
            <div class="row">
              <Format::Summary @model={{@model.startup}} />
              <Format::Summary @model={{@model.standard}} />
              <Format::Summary @model={{@model.eternal}} />
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>