{{page-title "Formats"}}

<div class="container">
  <div class="row">
    <div class="col-12 col-xl-8 offset-xl-2 d-flex flex-row flex-sm-column my-2">
      <div class="card border-0 flex-grow-1" id="nav-main-content">
        <div class="card-body d-flex flex-column flex-lg-row justify-content-between">

          <div class="container">
            <div class="row">
              <h1>Official Play Formats</h1>
              <p>Card Pools and links to deck searches legal in those formats.</p>
              <p>See <a href="https://nullsignal.games/players/supported-formats/">Null Signal Games' Supported Formats page</a> for more information.</p>
            </div>
            <div class="row">
              <div class="col">
                <h2>Startup Format</h2>
                <h3>Current banlist</h3>
                <ul class="list-unstyled ms-4">
                  <li><strong>No banlist</strong></li>
                </ul>
                <h3>Corp decklists</h3>
                <ul class="list-unstyled ms-4">
                  <li><a href="#">Any Corp</a></li>
                  <li><i class="icon icon-haas-bioroid haas-bioroid"></i> <a href="#">Haas-Bioroid</a></li>
                  <li><i class="icon icon-jinteki jinteki"></i> <a href="#">Jinteki</a></li>
                  <li><i class="icon icon-nbn nbn"></i> <a href="#">NBN</a></li>
                  <li><i class="icon icon-weyland-consortium weyland-consortium"></i> <a href="#">Weyland Consortium</a></li>
                </ul>
                <h3>Runner decklists</h3>
                <ul class="list-unstyled ms-4">
                  <li><a href="#">Any Runner</a></li>
                  <li><i class="icon icon-anarch anarch"></i> <a href="#">Anarch</a></li>
                  <li><i class="icon icon-criminal criminal"></i> <a href="#">Criminal</a></li>
                  <li><i class="icon icon-shaper shaper"></i> <a href="#">Shaper</a></li>
                </ul>
                <h3>Cardpool</h3>
                <ul>
                  <li><a href="#">Borealis</a></li>
                  <li><a href="#">System Update 2021</a></li>
                  <li><a href="#">System Gateway</a></li>
                </ul>
              </div>
              <div class="col">
                <h2>Standard Format</h2>
                <h3>Current banlist</h3>
                <ul class="list-unstyled ms-4">
                  <li><a href="#">Standard Ban List 23.03</a></li>
                  <li>active as of <strong>2023-03-01</strong></li>
                </ul>
                <h3>Corp decklists</h3>
                <ul class="list-unstyled ms-4">
                  <li><a href="#">Any Corp</a></li>
                  <li><i class="icon icon-haas-bioroid haas-bioroid"></i> <a href="#">Haas-Bioroid</a></li>
                  <li><i class="icon icon-jinteki jinteki"></i> <a href="#">Jinteki</a></li>
                  <li><i class="icon icon-nbn nbn"></i> <a href="#">NBN</a></li>
                  <li><i class="icon icon-weyland-consortium weyland-consortium"></i> <a href="#">Weyland Consortium</a></li>
                </ul>
                <h3>Runner decklists</h3>
                <ul class="list-unstyled ms-4">
                  <li><a href="#">Any Runner</a></li>
                  <li><i class="icon icon-anarch anarch"></i> <a href="#">Anarch</a></li>
                  <li><i class="icon icon-criminal criminal"></i> <a href="#">Criminal</a></li>
                  <li><i class="icon icon-shaper shaper"></i> <a href="#">Shaper</a></li>
                  <li><i class="icon icon-adam adam"></i> <a href="#">Adam</a></li>
                  <li><i class="icon icon-apex apex"></i> <a href="#">Apex</a></li>
                  <li><i class="icon icon-sunny-lebeau sunny-lebeau"></i> <a href="#">Sunny Lebeau</a></li>
                </ul>
                <h3>Cardpool</h3>
                <ul>
                  <li><a href="#">Borealis</a></li>
                  <li><a href="#">System Update 2021</a></li>
                  <li><a href="#">System Gateway</a></li>
                  <li><a href="#">Magnum Opus Reprint</a></li>
                  <li><a href="#">Ashes</a></li>
                  <li><a href="#">Magnum Opus</a></li>
                  <li><a href="#">Reign and Reverie</a></li>
                  <li><a href="#">Kitara</a></li>
                  <li><a href="#">Red Sand</a></li>
                  <li><a href="#">Flashpoint</a></li>
                  <li><a href="#">Data and Destiny</a></li>
                </ul>
              </div>
              <div class="col">
                <h2>Eternal Format</h2>
                <h3>Current banlist</h3>
                <ul class="list-unstyled ms-4">
                  <li><a href="#">Eternal Points List 22.09</a></li>
                  <li>active as of <strong>2022-09-26</strong></li>
                </ul>
                <h3>Corp decklists</h3>
                <ul class="list-unstyled ms-4">
                  <li><a href="#">Any Corp</a></li>
                  <li><i class="icon icon-haas-bioroid haas-bioroid"></i> <a href="#">Haas-Bioroid</a></li>
                  <li><i class="icon icon-jinteki jinteki"></i> <a href="#">Jinteki</a></li>
                  <li><i class="icon icon-nbn nbn"></i> <a href="#">NBN</a></li>
                  <li><i class="icon icon-weyland-consortium weyland-consortium"></i> <a href="#">Weyland Consortium</a></li>
                </ul>
                <h3>Runner decklists</h3>
                <ul class="list-unstyled ms-4">
                  <li><a href="#">Any Runner</a></li>
                  <li><i class="icon icon-anarch anarch"></i> <a href="#">Anarch</a></li>
                  <li><i class="icon icon-criminal criminal"></i> <a href="#">Criminal</a></li>
                  <li><i class="icon icon-shaper shaper"></i> <a href="#">Shaper</a></li>
                  <li><i class="icon icon-adam adam"></i> <a href="#">Adam</a></li>
                  <li><i class="icon icon-apex apex"></i> <a href="#">Apex</a></li>
                  <li><i class="icon icon-sunny-lebeau sunny-lebeau"></i> <a href="#">Sunny Lebeau</a></li>
                </ul>
                <h3>Cardpool</h3>
                <ul>
                  <li><a href="#">Borealis</a></li>
                  <li><a href="#">System Update 2021</a></li>
                  <li><a href="#">System Gateway</a></li>
                  <li><a href="#">Salvaged Memories</a></li>
                  <li><a href="#">Magnum Opus Reprint</a></li>
                  <li><a href="#">Ashes</a></li>
                  <li><a href="#">System Core 2019</a></li>
                  <li><a href="#">Magnum Opus</a></li>
                  <li><a href="#">Reign and Reverie</a></li>
                  <li><a href="#">Kitara</a></li>
                  <li><a href="#">Revised Core Set</a></li>
                  <li>
                    <a href="#">Terminal Directive</a>
                    <ul>
                      <li><a href="#">Terminal Directive Cards</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Red Sand</a></li>
                  <li><a href="#">Flashpoint</a></li>
                  <li><a href="#">Mumbad</a></li>
                  <li><a href="#">Data and Destiny</a></li>
                  <li><a href="#">SanSan</a></li>
                  <li><a href="#">Order and Chaos</a></li>
                  <li><a href="#">Lunar</a></li>
                  <li><a href="#">Honor and Profit</a></li>
                  <li><a href="#">Spin</a></li>
                  <li><a href="#">Creation and Control</a></li>
                  <li><a href="#">Genesis</a></li>
                  <li><a href="#">Core Set</a></li>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>