{{page-title "Formats"}}

<main class="pb-4">

  <Navbar />

  <div class="container">
    <h2 class="mt-4 mb-3">Formats</h2>

    <div class="row">
      <div class="col-12">
        <div class="card">
          <img src="" class="card-img-top" />
          <div class="card-body">
            <h5 class="card-title">Standard</h5>
            <p class="card-text">
              It doesn’t have to be this way.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 mt-4">
      <div class="card">
        <img src="" class="card-img-top" />
        <div class="card-body">
          <h5 class="card-title">Startup</h5>
          <p class="card-text">
            It doesn’t have to be this way.
          </p>
        </div>
      </div>
    </div>

    <div class="col-12 mt-4">
      <div class="card">
        <img src="" class="card-img-top" />
        <div class="card-body">
          <h5 class="card-title">Eternal</h5>
          <p class="card-text">
            It doesn’t have to be this way.
          </p>
        </div>
      </div>
    </div>
  </div>

</main>