{{page-title "Home"}}

<main>

  <div class="container sticky-top">
    <div class="row">
      <Home::MobileNavbar />
      <Home::Navbar />
      <Home::Sidebar />

      <div class="col-12 col-xl-6 order-2 d-flex flex-column py-2">
        <div class="card border-0 flex-grow-1" id="nav-main-content">
          <div class="card-body m-4">
            {{outlet}}
          </div>
        </div>
      </div>

    </div>
  </div>

</main>