{{page-title "Formats"}}

<main class="pb-4">

  <Navbar />
  <Titlebar @subtitle="Reviews" />

  <div class="container">

    <div class="mt-4">
      <Review @showPrinting={{true}} />
    </div>
    <div class="mt-4">
      <Review @showPrinting={{true}} />
    </div>
    <div class="mt-4">
      <Review @showPrinting={{true}} />
    </div>

  </div>

</main>